body {
    height:100%;
}

.bg-image {
    background-image : url("A cute boy with round glasses and a cute girl with round glasses and long hair sitting with t (1).jpg");
    background-size: 15%;
    background-repeat: repeat;
    height: 100%;
    width: 100%;
    filter: blur(5px);
    z-index: -1;
    position: absolute;
}

.bg-text{
    text-align: center;
    color: rgb(29, 124, 141);
    filter: none;
    position: relative;
    z-index: 1;
    margin-right: 15%;
    margin-left: 17%;
    padding-top: 5%;
}

.bg-textbox {
    background-color: rgb(227, 250, 250);
    height: 0.5%;
    width: 40%;
    padding-top: 20%;
    padding-bottom: 1%;
    margin-left: 30%;
    margin-right: 30%;
    filter: blur(70px);
    position: absolute;
    z-index: 0;
}

.bg-textbox2 {
    background-color: rgb(204, 247, 247);
    width: 80%;
    padding-top: 30%;
    padding-bottom: 1%;
    margin-top: 3%;
    margin-left: 10%;
    margin-right: 10%;
    filter: blur(100px);
    position: absolute;
    z-index: 0;
}

.link-text1 {
    text-align: center;
    width: 50%;
    color: rgb(29, 124, 141);
    position: relative;
    z-index: 1;
    margin-left: 26%;
    margin-top: 12%;
}